$colorHover: #ff8888;
$colorSelect: #8888ff;

.diagram {

  .decision {
    .djs-hit {
      pointer-events: all;
    }

    &.selected .djs-visual {
      visibility: visible;
      shape-rendering: crispEdges;
      stroke: $colorSelect;
      stroke-width: 3px;
      stroke-dasharray: 10px;
    }

    &.hover:not(.selected) .djs-outline {
      stroke: $colorHover;
      stroke-width: 1px;
      stroke-dasharray: 10px;
    }
  }

}
