$color-hover: #ff8888;
$color-select: #7391C8;;

.diagram {

  .decision {
    .djs-hit {
      pointer-events: all;
    }

    &.selected .djs-visual {
      visibility: visible;
      shape-rendering: crispEdges;
      stroke: $color-select;
      stroke-width: 3px;
      stroke-dasharray: 10px;
    }

    &.hover:not(.selected) .djs-outline {
      stroke: $color-hover;
      stroke-width: 1px;
      stroke-dasharray: 10px;
    }
  }

}
