$color-grey: #bfbfbf;
$color-black: #444;
$color-grey-light: rgba($color: $color-grey, $alpha: 0.1);

.navigation-table {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .buttons {
    padding: 1rem;
    padding-top: 0.5rem;
    position: relative;
    background-color: $color-grey-light;
    border-bottom: 1px solid $color-grey;

    .arrow-expand {
      position: absolute;
      bottom: 0;
      right: 0;
      padding-bottom: 0.3rem;

      svg {
        width: 1rem;
        color: $color-black;
      }
    }

  }

  .decision-table {
    border-left: 1px solid $color-grey;
    display: inline-block;
    vertical-align: middle;
  }
}
