$color-grey: #bfbfbf;
$color-black: #444;

.navigation-table {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .buttons {
    margin-top: 1rem;

    .arrow-expand {
      display: inline-block;
      padding-bottom: 0.3rem;
      margin: 0 0.5rem 0 0.5rem;

      svg {
        width: 0.8rem;
        color: $color-black;
      }
    }

    .edit-drd {
      margin-left: -0.7rem;
      display: block;
      position: relative;
      top: 40%;
      -webkit-transform: translateY(-50%) rotate(-90deg);
      -ms-transform: translateY(-50%) rotate(-90deg);
      transform: translateY(-50%) rotate(-90deg);
    }
  }

  .decision-table {
    border-left: 1px solid $color-grey;
    display: inline-block;
    vertical-align: middle;
  }
}
