$color-grey: #bfbfbf;
$color-black: #444;

.navigation-table {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .arrow-expand {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 0.3rem;
    margin: 0.5rem;

    svg {
      width: 0.8rem;
      color: $color-black;
    }
  }

  .decision-table {
    border-left: 1px solid $color-grey;
    display: inline-block;
    vertical-align: middle;
  }
}
