$color-grey: #bfbfbf;
$color-grey-dark: rgba(0, 0, 0, 0.8);
$color-grey-less-dark: rgba(0, 0, 0, 0.2);
$color-grey-less-light: rgba($color: $color-grey, $alpha: 0.2);
$color-grey-light: rgba($color: $color-grey, $alpha: 0.1);
$color-title: #7391C8;
$color-title-light: rgba($color: $color-title, $alpha: 0.7);

.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;

  display: none;

  &.is-open {
    display: block;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $color-grey-less-dark;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: white;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.modal-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px 20px 20px;
  background-color: $color-grey-light;
  font-size: 16px;
  border-bottom: 1px solid $color-grey-less-light;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.25;
  color: $color-title;
  box-sizing: border-box;

  code {
    color: $color-title-light;
  }
}

.modal-close {
  background: transparent;
  border: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 22px;
  height: 22px;
  padding: 0;
  border: none;
  border-radius: 3px;
  background-color: transparent;
}

.modal-header .modal-close:before {
  content: "\2715";
}

.modal-content {
  line-height: 1.5;
  color: $color-grey-dark;
  padding: 10px 30px 20px 20px;
  overflow-y: auto;
  font-size: 14px;

  .yaml-view {
    background: $color-grey-light;
    padding-left: 2rem;
    border: 1px solid $color-grey;
  }
}

.modal-footer {
  padding: 15px 20px 15px;
  border-top: 1px solid $color-grey-less-light;
}

.btn-modal {
  float: right;
  margin-bottom: 20px;
}