$color-grey: #bfbfbf;
$color-black: #444;
$color-grey-light: rgba($color: $color-grey, $alpha: 0.1);
$color-selected: #7391C8;
$color-selected-light: rgba($color: $color-selected, $alpha: 0.3);
$color-highlight: #ff2400;
$color-highlight-light: rgba($color: $color-highlight, $alpha: 0.3);

.split-screen {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .drd-part {
    resize: horizontal;
    overflow: auto;
    position: relative;
    width: 25%;
    overflow: auto;
    background-color: $color-grey-light;
    border-bottom: 1px solid $color-grey;

    .edit-drd {
      margin: 1rem 0 0 1rem;
    }

    .collapse {
      height: 3rem;
      padding-top: 2rem;
      padding-bottom: 0.3rem;
      position: absolute;
      bottom: 50%;
      right: 0;

      svg {
        width: 1rem;
        color: $color-black;
      }
    }

    .drd {
      padding-top: 1rem;
      margin: auto;
    }

    .diagram {
      svg {
        padding: 0;
      }
    }
  }

  .split {
    margin-right: 0.5rem;
    border-left: 1px solid $color-grey;
  }

  .table-part {
    margin-left: 0.5rem;
    width: 75%;

    .title-row {
      p {
        color: $color-selected;
      }
    }

    .expand svg {
      height: 24px;
    }
  }

  th.highlight {
    background-color: $color-highlight-light;
    color: $color-highlight;

    .clause {
      display: none;
    }

    .type {
      color: $color-highlight !important;
      font-weight: normal;
    }
  }

  .djs-shape {
    &.selected .djs-visual {
      * {
        shape-rendering: auto;
        stroke-width: 1px;
        stroke-dasharray: none;
      }

      rect {
        stroke: $color-selected !important;
        stroke-width: 2px !important;
        fill: $color-selected-light !important;
      }

      text {
        fill: $color-selected !important;
        stroke: none;
        font-weight: bold;
      }
    }

    &.highlight .djs-visual {
      rect {
        stroke: $color-highlight !important;
        stroke-width: 2px !important;
        fill: $color-highlight-light !important;
      }

      text {
        fill: $color-highlight !important;
        font-weight: bold;
      }
    }

    &.hover:not(.selected) {
      text {
        fill: $color-highlight !important;
      }

      .djs-outline {
        shape-rendering: auto;
        stroke: none;
      }
    }
  }

  .djs-connection.highlight .djs-visual polyline {
    stroke: $color-highlight !important;
    stroke-width: 1.3px !important;
    marker-end: url(#information-requirement-highlight-end) !important;
  }
}
