@import './popups';
@import './vars';

.variant-badge {
  position: fixed;
  top: 1rem;
  right: 1rem;
  border-radius: 90%;
  height: 3.125rem;
  width: 3.125rem;
  text-align: center;
  background-color: black;
  color: whitesmoke;
  user-select: none;

  span {
    position: absolute;
    top: 30%;
    right: 30%;
    left: 30%;
    bottom: 30%;
  }
}
