@import "../../vars";

.new-column-button {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  text-align: center;
  color: $color-black;
  user-select: none;

  svg {
    position: absolute;
    height: 1rem;
  }

  .fake {
    position: absolute;
    background: white;
    margin: 0.2rem 0 0 0.3rem;
    height: 0.5rem;
    padding: 0.1rem 0 0 0.5rem;
  }
}
