@import "../../vars";

.advanced-expression {
  label {
    display: inline-block;
  }

  .not-feel {
    font-size: $table-font-size;
    //float: right;
    margin-left: 1rem;
    padding: 0.2rem 0.4rem 0 0;
    color: $color-silver-darken-80;

    svg {
      height: 0.8rem;
    }
  }

  input, textarea {
    display: block;
    width: 100%;
  }
}
