@import "../../vars";

.input-header,
.output-header {
  position: relative;
  width: 6rem;
  padding: 0 !important;

  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;

  .preview {
    color: $color-preview !important;
  }

  .clause {
    position: absolute;
    left: 0.2rem;
    top: 0.1rem;
    margin-bottom: 0.5rem;
    color: $color-grey;
    font-size: $table-font-size + 0.125;
  }

  .expression {
    font-size: $table-font-size + 0.125;
    margin: 1rem 0rem 1.5rem 0rem;

    text-align: left;
    padding-top: 0.5rem;
  }

  .type {
    text-align: right;
    position: absolute;
    right: 0.2rem;
    bottom: 0.1rem;
    color: $color-grey;
    font-size: $table-font-size - 0.125;
    word-wrap: break-word;
    width: 100%;

    &[data-size="smaller"] {
      font-size: $table-font-size - 0.2;
      width: 66%;
    }
  }
}
