.resizable-column-wrapper {
  max-height: 5rem; // todo(pinussilvestrus): discuss this
  min-width: 5rem;
  pointer-events: stroke;
  padding: 0.4rem !important;
  padding-right: 0.7rem !important;

  &.resizing {
    cursor: col-resize;
    user-select: none;
  }

  &::before {
    @extend .resizable-column-wrapper.resizing;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
  }

  .expression {
    word-wrap: unset;
    word-break: unset;
    overflow-wrap: unset;
    white-space: nowrap;

    &.resized {
      white-space: normal;
    }
  }
}
