$color-grey: #bfbfbf;
$color-grey-light: #f6f6f6;
$color-black: #444;

.table-view {
  .arrow-expand {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 0.3rem;
    margin: 0.5rem;

    svg {
      width: 0.8rem;
      color: $color-black;
    }
  }

  .decision-table {
    border-left: 1px solid $color-grey;
    display: inline-block;
    vertical-align: middle;
  }
}

.btn {
  padding: 0.5rem;
  border: solid 1px $color-grey;
  border-radius: 2px;
  font-size: 0.8rem;
  color: $color-black;
  font-weight: bold;
  cursor: pointer;
  background: white;

  &:hover {
    background: $color-grey-light;
  }
}

.edit-drd {
  vertical-align: top;
  margin-top: 0.5rem;
}
