$color-grey: #bfbfbf;
$color-grey-light: #f6f6f6;
$color-black: #444;

.btn {
  padding: 0.5rem;
  border: solid 1px $color-grey;
  border-radius: 2px;
  font-size: 0.8rem;
  color: $color-black;
  font-weight: bold;
  cursor: pointer;
  background: $color-grey-light;

  &.btn-sticky {
    border-radius: none;
    border-right: none;
  }

  &:hover {
    background: white
  }
}

.edit-drd {
  vertical-align: top;
  margin-top: 0.5rem;
}
