@import "../../forms";
@import "../../vars";

.column-header-edit-popup {

  &:before {
    bottom: 100%;
    border-bottom: 2rem solid rgba($color: black, $alpha: 0.5);
  }

  &:after {
    bottom: 100%;
    border-bottom-color: white;
  }

  &::after, &::before {
    content: " ";
    position: absolute;
    width: 0;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  .field {
    margin-top: 0.5rem;

    .blank {
      padding-top: 0.15rem;
    }
  }

  .feel {
    /* todo(pinussilvestrus): remove for now */
    display: none;
    background-color: $color-blue-lighten-75;
    font-size: $table-font-size - 0.15;
    color: white;
    padding: 0.15rem 0.4rem 0.15rem 0.4rem;
    margin-left: 0.2rem;
    border-radius: 5px;

    svg {
      vertical-align: middle;
      height: $table-font-size - 0.15;
      margin-right: 0.15rem;
      margin-top: -0.15rem;
    }
  }

  input[type="submit"] {
    visibility: hidden; 
    position: fixed;
    bottom: 0;
    left: 0
  }
}
