.input-data-modal {
  .modal-container {
    background: rgb(255, 255, 255);
    border-radius: 0.125rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.25rem 0.25rem 0;
    width: 22.75rem;
    overflow: hidden;
    position: absolute;
    padding: 1rem;
  }

  .modal-header {
    p {
      display: inline-block;
      margin-right: 0.5rem;
      font-size: 1.2rem;
    }

    a {
      color: rgba($color: blue, $alpha: 0.7);
      cursor: pointer;
      text-decoration: underline;
    }
    
    a:hover {
      color: rgba($color: blue, $alpha: 1.0);;
    }
  }

  .input-icon {
    height: 0.9rem !important;
    padding-right: 0.4rem;
  }

  input {
    margin: 0 0.5rem 0.5rem 0;
    height: 1.2rem;
    padding-left: 0.3rem;
    outline-color: coral;
  }

  select {
    margin-top: 1rem;
    width: 100%;
  }

  .close {
    height: 0.75rem;
    float: right;
    width: auto;
    cursor: pointer;
  }

  .attributes {
    display: none;
    margin-top: 1rem;

    .attributes-edit {
      width: 95%;
      height: 5rem;
      padding: 0.5rem;
      margin: 0.5rem 2rem 0 0;
    }
  }
}
