[data-element-id="Decision_03absfl"].hover .djs-outline,
[data-element-id="Decision_03absfl"].selected .djs-outline {
  visibility: visible;
  shape-rendering: crispEdges;
  stroke-dasharray: 3,3;
}

[data-element-id="Decision_03absfl"].selected .djs-outline {
  stroke: #8888FF;
  stroke-width: 1px;
}

[data-element-id="Decision_03absfl"].hover .djs-outline {
  stroke: #FF8888;
  stroke-width: 1px;
}

.djs-shape.highlight .djs-visual rect {
  stroke: coral !important;
}

.djs-connection.highlight .djs-visual polyline {
  stroke: coral !important;
  marker-end: url(#information-requirement-highlight-end) !important;
}
