.variant-b {

  svg.diagram {
    margin-left: -10rem;
  }

  .active {
    .djs-hit {
      pointer-events: all;
    }

    &.hover .djs-outline {
      visibility: visible;
      shape-rendering: crispEdges;
      stroke-dasharray: 3,3;
    }
  
    &.selected .djs-outline {
      visibility: visible;
      shape-rendering: crispEdges;
      stroke-dasharray: 3,3;
      stroke: #8888FF;
      stroke-width: 3px;
      stroke-dasharray: 10px;
    }
  
    &.hover .djs-outline {
      stroke: #FF8888;
      stroke-width: 1px;
      stroke-dasharray: 10px;
    }
  }

  [data-element-id="InputData_13z77r8"] {
    .djs-hit {
      pointer-events: all;
    }

    &.hover .djs-outline {
      visibility: visible;
      shape-rendering: crispEdges;
      stroke-dasharray: 3,3;
    }
  
    &.selected .djs-outline {
      visibility: visible;
      shape-rendering: crispEdges;
      stroke-dasharray: 3,3;
      stroke: #8888FF;
      stroke-width: 3px;
      stroke-dasharray: 10px;
    }
  
    &.hover .djs-outline {
      stroke: #FF8888;
      stroke-width: 1px;
      stroke-dasharray: 10px;
    }
  }
  
  .djs-shape.highlight .djs-visual {
    rect {
      stroke: coral !important;
      stroke-width: 2px !important;
      stroke: coral !important;
      stroke-width: 2px !important;
      fill: rgba(255, 127, 80, 0.3) !important;
    }
  
    text {
      fill: coral !important;
      font-weight: bold;
    }
  }
  
  .djs-connection.highlight .djs-visual polyline {
    stroke: coral !important;
    stroke-width: 1.3px !important;
    marker-end: url(#information-requirement-highlight-end) !important;
  }
}