html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.contents {
  width: 100%;
  height: 100%;
}

svg.diagram {
  margin-top: 5rem;
  height: 80%;
  width: inherit;
}

.badge {
  position: fixed;
  top: 1rem;
  right: 1rem; 
  border-radius: 90%;
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: black;
  color: whitesmoke;

  span {
    position: absolute;
    top: 30%;
    right: 30%;
    left: 30%;
    bottom: 30%;
  }
}

.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
  background: coral !important;
  border: coral !important;
  color: #ffffff !important;

  &.autocomplete-action {
    background: #4d90ff !important;
    border: #4d90ff !important;
  }
}

.ui-menu-item .ui-menu-item-wrapper {
  background: white;

  &.autocomplete-action {
    background: whitesmoke !important;
  }
}

.ui-menu-item [data-value="+ Create new Decision Table"] {
  border-top: solid 0.05rem rgba(0,0,0,0.1) !important;
}

.ui-state-highlight {
  height: 1.4rem;
  margin: 0 0 0.5rem 1rem;
  background-color: gainsboro;
  border: none;
}