html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;
}

.contents {
  width: 100%;
  height: 100%;
}

.contents {
  margin-top: 5rem;
}

svg {
  height: 80%;
  width: inherit;
}

[data-element-id="Decision_03absfl"] .djs-hit {
    pointer-events: all;
}

[data-element-id="Decision_03absfl"].hover .djs-outline,
[data-element-id="Decision_03absfl"].selected .djs-outline {
  visibility: visible;
  shape-rendering: crispEdges;
  stroke-dasharray: 3,3;
}

[data-element-id="Decision_03absfl"].selected .djs-outline {
  stroke: #8888FF;
  stroke-width: 1px;
}

[data-element-id="Decision_03absfl"].hover .djs-outline {
  stroke: #FF8888;
  stroke-width: 1px;
}
